<div class="author-meta">
    <div class="author"> <img alt='Budgific Team'
            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2072%2072'%3E%3C/svg%3E"
            data-lazy-srcset='/assets/icons/icon-144x144.png 2x' class='avatar avatar-72 photo' height='72' width='72'
            data-lazy-src="/assets/icons/icon-72x72.png" /><noscript><img alt='Budgific Team'
                src='/assets/icons/icon-72x72.png' srcset='/assets/icons/icon-144x144.png 2x'
                class='avatar avatar-72 photo' height='72' width='72' /></noscript> <span>
            Written by:<a target="_blank" href="https://budgific.com" title="Budgific" rel="author">Budgific Team</a>
        </span></div>
    <div class="bio">
        <p><a target="_blank" href="https://budgific.com">Budgific</a> is a personal finance manager</p>
    </div>
</div>