
:host{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 16px;
}

.chart-spinner{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}